DB_DRIVER=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=expo_sales_app
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=expo_sales
PYTHONPATH=/opt/hyBooth-system/.python_deps
PYTHON_BIN=/usr/bin/python3
